.signin_window {
    background-image: linear-gradient(145deg,rgb(0, 0, 0) 55%, rgb(78, 17, 75), rgb(204, 0, 255));
}

.chat_window {
    background-image: linear-gradient(145deg,rgb(0, 0, 0) 55%, rgb(76, 17, 78), rgb(204, 0, 255));  
}

*:active, *:focus {
    outline: none;
}

label {
    font-weight: bold;
}

/* message */

.message_list {
    border-color: rgb(255, 0, 234);
    border-width: 3px;
}

.message_entry {
    border-color: rgb(255, 0, 242);
    border-width: 3px;
}

.message_box {
    background-color: transparent;
}

.message_entry text {
    background-color: black;
    color: rgb(212, 0, 255);
    font-weight: bold;
}

.message_lbl {
    color:rgb(212, 0, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 0px 3px rgb(255, 0, 255) inset;
}

.message_list {
    background-color: black;
}

/* listbox */

scrollbar.trough, scrollbar.trough.vertical {
    border: 0;
    background: none;
}

.scrolled_window {
    border-color: rgb(234, 0, 255);
    border-width: 3px;
}

.cntc_list row label {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cntc_list row {
    background-color: transparent;
    background-image: none;
    box-shadow: 0px -3px rgb(123, 0, 139) inset;
    color: rgb(134, 0, 139);
}

.cntc_list row:hover {
    box-shadow: 0px -3px rgb(139, 0, 109) inset;
    margin-right: 15px;
    color: rgb(173, 1, 179);
    text-shadow: 0px 0px 10px rgb(179, 1, 164);
}

.cntc_list row:active {
    background-color: transparent;
    background-image: none;
    margin-right: 15px;
    color:rgb(255, 0, 255);
    text-shadow: 0px 0px 10px rgb(247, 0, 255);
}

.cntc_list row:focus {
    background-color: transparent;
    background-image: none;
    box-shadow: 0px -3px rgb(247, 0, 255) inset; 
    color:rgb(255, 0, 242);
    text-shadow: 0px 0px 10px rgb(255, 0, 128);
}

/* notebook */

.cntc_notebook {
    background-color: black;
    border-width: 3px;
    border-color: rgb(255, 0, 242);
}

.cntc_notebook1 {
    background-color: black;
    border-top: 2px solid rgb(255, 0, 242);
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.cntc_notebook tab {
    outline: none;
}

.cntc_notebook tab:hover {
    box-shadow: 0 -3px rgb(150, 8, 143) inset;
    color:rgb(134, 0, 139);
}

.cntc_notebook tab:checked {
	box-shadow: 0 -3px rgb(234, 0, 255) inset;
    color:rgb(255, 0, 255);
    margin-top: 5px;
}

/* button */

.chat_btn {
    border-radius: 0%;
    border-color: rgb(139, 0, 109);
    border-width: 3px;
    background-color: black;
    color: rgb(139, 0, 116);
}

.chat_btn:hover, active:hover {
    box-shadow: 0 0 10px rgb(234, 0, 255);
    border-radius: 0%;
    border-color: rgb(255, 0, 242);
    border-width: 3px;
    color:rgb(247, 0, 255);
    background-image: none;
}

.chat_btn:active {
    border-color: rgb(200, 50, 175);
    background: rgba(255, 0, 212, 0.5);
    color:rgb(255, 0, 179);
}

/* widget */

.cntc_list {
    background-color: black;
}

box {
    background-color: black;
}

/* dialog */

.dialog_err_lbl {
    color: rgb(255, 0, 0);
    text-shadow: 0px 0px 3px rgb(255, 0, 0);
}

.dialog_lbl {
    color: rgb(255, 0, 234);
    text-shadow: 0px 0px 3px rgb(255, 0, 255);
}

.dialog_entry {
    border-radius: 0%;
    border-color: rgb(31, 0, 32);
    border-width: 3px;
}

.dialog_entry:focus {
    font-weight: bold;
    border-radius: 0%;
    box-shadow: 0px 0px 5px rgb(234, 0, 255);
}

.dialog_btn {
    border-radius: 0%;
    border-color: rgb(32, 0, 27);
    border-width: 3px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.dialog_btn:hover, active:hover {
    box-shadow: 0 0 10px rgb(255, 0, 255);
    border-radius: 0%;
    border-color: rgb(255, 0, 242);
    border-width: 3px;
    color:rgb(255, 0, 255);
    background-image: none;
}

.dialog_btn:active {
    border-color: rgb(200, 50, 175);
    background-color: rgba(212, 0, 255, 0.5);
    color:rgb(255, 0, 255);
}

/* login */

.log_btn {
    border-radius: 0%;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
}

.log_btn:hover, active:hover {
    box-shadow: 0 0 10px rgb(182, 50, 200);
    border-radius: 0%;
    border-color: rgb(205, 55, 193);
    border-width: 3px;
    color:rgb(182, 50, 200);
    background-image: none;
    margin-top: 5px;
}

.log_btn:active {
    border-color: rgb(175, 50, 200);
    background-color: rgba(255, 0, 242, 0.5);
    color:rgb(255, 0, 255);
}

.err_lbl_log {
    text-shadow: 1px 1px 10px rgb(255, 0, 0);
    color:rgb(255, 0, 0);
}

.signin_entry {
    border-radius: 0%;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
}

.signin_entry:focus {
    font-weight: bold;
    border-radius: 0%;
    margin: 3px;
}
