.window_log {
	background-color: white;
}

.lgn_entry_reg {
	box-shadow: none;
}

.lgn_entry_log {
	box-shadow: none;
}

.pass_entry_log {
	box-shadow: none;
}

.back_btn_reg:hover, active:hover, checked:hover {
	border-color: transparent;
	background-image: none;
	border-radius: 0;
	border-color: transparent;
	box-shadow: none;
	transition: none;
}

.lgn_btn_log:hover, active:hover, checked:hover  {
	border-color: transparent;
	background-image: none;
	border-radius: 0;
	border-color: transparent;
	box-shadow: none;
	transition: none;
}

.reg_btn_log:hover, active:hover, checked:hover {
	border-color: transparent;
	background-image: none;
	border-radius: 0;
	border-color: transparent;
	box-shadow: none;
	transition: none;
}
