window {
    background-image: linear-gradient(145deg, rgb(0, 0, 0) 55%, rgb(50, 200, 200));
}

*:active, *:focus {
    outline: none;
}

label {
    font-weight: bold;
}

button {
    border-radius: 0%;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
}

button:hover, active:hover {
    box-shadow: 0 0 10px rgb(50, 200, 200);
    border-radius: 0%;
    border-color: rgb(55, 200, 205);
    border-width: 3px;
    color:rgb(50, 200, 200);
    background-image: none;
    margin-top: 5px;
}

button:active {
    border-color: rgb(50, 200, 200);
    background-color: rgba(0, 255, 255, 0.5);
    color:cyan;
}

.err_lbl_log {
    text-shadow: 1px 1px 10px red;
    color:red;
}

.signin_entry {
    border-radius: 0%;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
}

.signin_entry:focus {
    border-radius: 0%;
    margin: 3px;
}
